<div id="container">
    <div id="formcontainer"> <img id="img1" src="./assets/images/images/img3.jpg"> <a href="#"><img id="cross" src=""></a>
        <p id="text">Login to your Account</p> <input id="email" type="email" type="tel" placeholder="Email / Phone"> <input id="password" type="password" placeholder="Password"> <input id="check" type="checkbox">
        <p id="text1">Remember Me</p> <a id="forget" href="#">Forget Password ?</a> <button id="login" type="submit">Log In</button>
        <hr id="hrline1">
        <p id="text2">or login with</p>
        <hr id="hrline2"> <button id="facebook"><i class="fab fa-facebook-square"></i> Facebook</button> <button id="google"> <i class="fab fa-google"></i> Google</button>
        <p id="text3">Not a Member?</p> <a id="signup" href="#">Signup Now</a>
    </div>
</div>
<!-------------footer---------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone.</p>
                <div class="app-logo">
                    <img src="./assets/images/images/play-store.png">
                    <img src="./assets/images/images/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="./assets/img1.jpg">
                <p>Our Purpose Is To Sustainably Make The Pleasure and Benefits of Sports Accessible to the Many.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook <i class="fab fa-facebook-square" style="color: blue;"></i></li>
                    <li>Twitter <i class="fab fa-twitter" style="color: blue;"></i></li>
                    <li>Instagram <i class="fab fa-instagram-square" style="color: pink;"></i></li>
                    <li>Youtube <i class="fab fa-youtube" style="color: red;"></i></li>

                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2021 - Vishal Website</p>
    </div>

