<div class="container">
    <div class="small-container single-product">
    <div class="row">
<div class="col-2">
            <img src="./assets/images/images/gallery-1.jpg" width="100%" id="ProductImg">

            <div class="small-img-row">
            <div class="small-img-col">
            <img src="./assets/images/images/gallery-1.jpg" width="100%" class="small-img">
            </div>
            <div class="small-img-col">
            <img src="./assets/images/images/gallery-2.jpg" width="100%" class="small-img">
            </div>
            <div class="small-img-col">
            <img src="./assets/images/images/gallery-3.jpg" width="100%" class="small-img">
            </div>
            <div class="small-img-col">
            <img src="./assets/images/images/gallery-4.jpg" width="100%" class="small-img">
            </div>
            </div>
        </div>
        <div class="col-2">
            <p>Home / T-shirt</p>
            <h1>Red Printed T-shirt by HRX</h1>
            <h4>Rs 250.00</h4>
            <select>
                <option>Select Size</option>
                <option>XXL</option>
                <option>XL</option>
                <option>L</option>
                <option>M</option>
                <option>S</option>
            </select>
            <input type="number" value="1">
            <a href="" class="btn">Add to Cart</a>

            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <br>
            <p>Give your wardrobe a style upgrade with the HRX
                Mens Active T-shirt. Team it with a pair of shorts for your morning workout or a denims for an evening out with the guys.</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-5 col-sm-12 col-xs-12">
            <div class="card p-3">
                <div class="card inner_card px-4 py-2 mb-3">
                    <div class="div1 row py-1 px-2">
                        <div class="col-7 mt-2">
                            <p class="font-weight-bold mb-5 darkWhite heading"> Favorable discounts on Laptops </p>
                            <p class="mt-3"> June 26 - August 26 </p>
                        </div>
                        <div class="col-5 d-flex align-items-center">
                            <div class="rounded-circle d-flex align-items-center justify-content-center w-100" id="circl1"> <img src="./assets/images/images/img89.jpeg" height="80%" width="60%" alt=""> </div>
                        </div>
                    </div>
                    <div class="py-2">
                        <p class="desc"> Take away every second Bluedio headset with a 50% discount. Be smart - buy cheaply with KTS! </p>
                        <div>
                            <h6> <a href="#"> Learn more <span class="rounded-circle sp1 px-2 py-0 ml-1"> <i class="fa fa-angle-right" aria-hidden="true"></i> </span> </a> </h6>
                        </div>
                    </div>
                </div>
                <div class="card inner_card px-4 py-2">
                    <div class="div2 row py-1 px-2">
                        <div class="col-7 mt-2">
                            <p class="font-weight-bold mb-5 darkWhite heading"> Enjoy smart assistant around the home. </p>
                            <p class="mt-3"> June 26 - August 26 </p>
                        </div>
                        <div class="col-5 d-flex align-items-center">
                            <div class="rounded-circle d-flex align-items-center justify-content-center w-100" id="circl2"> <img src="./assets/images/images/img103.jpg" height="85%" width="40%" alt=""> </div>
                        </div>
                    </div>
                    <div class="py-2">
                        <p class="desc"> Choose stylish gadgets from Google at great prices. Buy goods at KTC! </p>
                        <div class="">
                            <h6> <a href="#"> Learn more <span class="rounded-circle sp1 px-2 py-0 ml-1"> <i class="fa fa-angle-right" aria-hidden="true"></i> </span> </a> </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!----------------title------------->
<div class="small-container">
    <div class="row row-2">
        <h2 class="title">Related Products</h2>
    </div>
    
</div>

<!----------------products------------>
<div class="small-container">
    <div class="row">
        <div class="col-4">
            <img src="./assets/images/images/img79.png" height="350px">
            <h4>Cricket kit Bag</h4>
            <div class="rating">
                <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
            </div>
            <p>Rs 400.00</p>
        </div>
        <div class="col-4">
            <img src="./assets/images/images/img81.jpg" height="350px">
            <h4>Headset</h4>
            <div class="rating">
                <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
            </div>
            <p>Rs 1000.00</p>
        </div>
        <div class="col-4">
            <img src="./assets/images/images/img85.jpg" height="350px">
            <h4>Watch</h4>
            <div class="rating">
                <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
            </div>
            <p>Rs 350.00</p>
        </div>
        <div class="col-4">
            <img src="./assets/images/images/img36.jpg" height="350px">
            <h4>Earphone</h4>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>Rs 350.00</p>
        </div>
    </div>
</div>
</div>
</div>
<!-------------footer---------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone.</p>
                <div class="app-logo">
                    <img src="./assets/images/images/play-store.png">
                    <img src="./assets/images/images/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="./assets/img1.jpg">
                <p>Our Purpose Is To Sustainably Make The Pleasure and Benefits of Sports Accessible to the Many.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook <i class="fab fa-facebook-square" style="color: blue;"></i></li>
                    <li>Twitter <i class="fab fa-twitter" style="color: blue;"></i></li>
                    <li>Instagram <i class="fab fa-instagram-square" style="color: pink;"></i></li>
                    <li>Youtube <i class="fab fa-youtube" style="color: red;"></i></li>

                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2021 - Vishal Website</p>
    </div>
</div>


