<div class="container">
  <div class="py-5" style="background-color:#E0E0E0;" id="venue">
    <div class="container">
        <div class="row bg-primary animate-in-down">
            <div class="p-4 col-md-6 align-self-center text-color">
                <p class="m-0">Feel comfortable, and purchase items</p>
                <h2>Discover the products</h2>
                <p class="my-4">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here</p> <a href="#" class="btn mb-3 p-2 btn-light">View the gallery</a>
            </div>
            <div class="p-0 col-md-6">
                <div class="carousel slide" data-ride="carousel" id="carousel1">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item"> <img class="d-block img-fluid w-100" src="./assets/images/images/img8.jpg" alt="first slide">
                            <div class="carousel-caption">
                                <h3>AboutUs</h3>
                                <p>We interrogate things about what is the best experience for the customer!</p>
                            </div>
                        </div>
                        <div class="carousel-item active"> <img class="d-block img-fluid w-100" src="./assets/images/images/img11.jpg" data-holder-rendered="true">
                            <div class="carousel-caption">
                                <h3>leaders in the market</h3>
                                <p>Leadership in telecommunicatio ns is also essential, since we are now in the age of e-commerce.!</p>
                            </div>
                        </div>
                        <div class="carousel-item"> <img class="d-block img-fluid w-100" src="./assets/images/images/img10.png" data-holder-rendered="true">
                            <div class="carousel-caption">
                                <h3>Success</h3>
                                <p>It is better to fail in originality than to succeed in imitation!</p>
                            </div>
                        </div>
                    </div> <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row">   
    <div class="col" style="background-color:white; margin-top: 50px;">
        <img src="./assets/images/images/img12.jpg" alt="no image" width="400px" height="350px">    
    </div>
    <div class="col" style="background-color:lightblue; margin-top: 50px;">
        <h4>Mission</h4>
        <p>We believe that ecommerce offers everyone an opportunity whether they work from home, 
            work full-time, or want to leave their job - to build a business that works for them 
            by building wealth and a future for your long-term life goals.
            We want to create an opportunity where our clients can step into a ready-made ecommerce 
            business and then have our team of experts personally mentor them through every aspect of 
            setting up, running and growing an internet business. 
        </p>
    </div>
</div>
<div id="demo" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="carousel-caption">
              <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I don't know what will.This was the very best explanation of frameworks for brginners that I've ever seen. </p> <img src="./assets/images/images/user-1.png">
              <div id="image-caption">Nick Doe</div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="carousel-caption">
              <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I don't know what will.This was the very best explanation of frameworks for brginners that I've ever seen.</p> <img src="./assets/images/images/user-2.png" class="img-fluid">
              <div id="image-caption">Cromption Greves</div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="carousel-caption">
              <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I don't know what will.This was the very best explanation of frameworks for brginners that I've ever seen.</p> <img src="./assets/images/images/user-3.png" class="img-fluid">
              <div id="image-caption">Harry Mon</div>
          </div>
      </div>
  </div> <a class="carousel-control-prev" href="#demo" data-slide="prev"> <i class='fas fa-arrow-left'></i> </a> <a class="carousel-control-next" href="#demo" data-slide="next"> <i class='fas fa-arrow-right'></i> </a>
</div>
</div> 
    <!-------------footer---------->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="./assets/images/images/play-store.png">
                        <img src="./assets/images/images/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="./assets/img1.jpg">
                    <p>Our Purpose Is To Sustainably Make The Pleasure and Benefits of Sports Accessible to the Many.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                    <li>Facebook <i class="fab fa-facebook-square" style="color: blue;"></i></li>
                    <li>Twitter <i class="fab fa-twitter" style="color: blue;"></i></li>
                    <li>Instagram <i class="fab fa-instagram-square" style="color: pink;"></i></li>
                    <li>Youtube <i class="fab fa-youtube" style="color: red;"></i></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 - Vishal Website</p>
        </div>
    </div>
