<div class="container">
  <div id="demo" class="carousel slide" data-ride="carousel">
  
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
    
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/images/images/img13.jpg" alt="no watch" width="1220px" height="500px">
        </div>
        <div class="carousel-item">
          <img src="./assets/images/images/img14.jpeg" alt="no watch" width="1220px" height="500px">
        </div>
        <div class="carousel-item">
          <img src="./assets/images/images/img15.jpg" alt="no watch" width="1220px" height="500px">
        </div>
      </div>
    
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    
    </div>
</div>   
    <!-------- featured Products -------->
    <div class="small-container">
      <h2 class="title">Latest collection</h2>
      <div class="row">
          <div class="col-4">
              <img src="./assets/images/images/img16.jpg">
              <h4>Rolex</h4>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <p>Rs 250000.00</p>
          </div>
          <div class="col-4">
              <img src="./assets/images/images/img13.jpg">
              <h4>Wrist Watch</h4>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <p>Rs 500.00</p>
          </div>
          <div class="col-4">
              <img src="./assets/images/images/img18.png" width="200px" height="200px">
              <h4>fastrack watch</h4>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <p>Rs 250.00</p>
          </div>
          <div class="col-4">
              <img src="./assets/images/images/img21.jpg">
              <h4>Wrist Watch</h4>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <p>Rs 250.00</p>
          </div>
      </div>
      <h2 class="title">Exculsive product</h2>
      <div class="row dd-flex justify-content-center">
          <div class="col-md-8">
              <div class="card px-3">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="d-flex flex-row align-items-center"> <i class='fa fa-apple fs-1'></i> <span class="fw-bold ms-1 fs-5">Apple</span> </div>
                          <h1 class="fs-1 ms-1 mt-3">Watch Series 4</h1>
                          <div class="ms-1"> <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span> </div>
                          <div class="mt-5 radio-buttons"> <label class="radio"> <input type="radio" name="code" value="grey" checked> <span></span> </label> <label class="radio"> <input type="radio" name="code" value="pink"> <span></span> </label> <label class="radio"> <input type="radio" name="code" value="black"> <span></span> </label> </div>
                          <div> <button class="button"> <span>Order Now</span> <i class="ms-2 fa fa-long-arrow-right"></i> </button> </div>
                      </div>
                      <div class="col-md-6">
                          <div class="product-image"> <img src="./assets/images/images/img86.jpg" height="300px" width="200px"> </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="small-container">
        <h2 class="title">Girls collection</h2>
        <div class="row">
            <div class="col-4">
                <img src="./assets/images/images/img22.jpg">
                <h4>Fashion watch</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 2500.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img23.jpg">
                <h4>Wrist Watch</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 1500.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img24.jpeg" width="200px" height="200px">
                <h4>fastrack watch</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 1250.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img25.jpg">
                <h4>Wrist Watch</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 2500.00</p>
            </div>
        </div>
  </div>
</div>     
    <!-------------footer---------->
<div class="footer">
  <div class="container">
      <div class="row">
          <div class="footer-col-1">
              <h3>Download Our App</h3>
              <p>Download App for Android and ios mobile phone.</p>
              <div class="app-logo">
                  <img src="./assets/images/images/play-store.png">
                  <img src="./assets/images/images/app-store.png">
              </div>
          </div>
          <div class="footer-col-2">
              <img src="./assets/img1.jpg">
              <p>Our Purpose Is To Sustainably Make The Pleasure and Benefits of Sports Accessible to the Many.</p>
          </div>
          <div class="footer-col-3">
              <h3>Useful Links</h3>
              <ul>
                  <li>Coupons</li>
                  <li>Blog Post</li>
                  <li>Return Policy</li>
                  <li>Join Affiliate</li>
              </ul>
          </div>
          <div class="footer-col-4">
              <h3>Follow us</h3>
              <ul>
                <li>Facebook <i class="fab fa-facebook-square" style="color: blue;"></i></li>
                <li>Twitter <i class="fab fa-twitter" style="color: blue;"></i></li>
                <li>Instagram <i class="fab fa-instagram-square" style="color: pink;"></i></li>
                <li>Youtube <i class="fab fa-youtube" style="color: red;"></i></li>

              </ul>
          </div>
      </div>
      <hr>
      <p class="copyright">Copyright 2021 - Vishal Website</p>
  </div>
