<div class="container">
      <div class="small-container">
          <div class="row row-2">
              <h2>All Products</h2>
              <select>
                  <option>Default Shorting</option>
                  <option>Short by price</option>
                  <option>Short by popularity</option>
                  <option>Short by rating</option>
                  <option>Short by scale</option>
              </select>
            </div>
          <div class="row">
            <div class="col-4">
                <img src="./assets/images/images/img89.jpeg" height="350px">
                <h4>Hp Laptop</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 25000.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img73.jpg" height="350px">
                <h4>Dell Laptop</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 50000.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img74.jpg" height="350px">
                <h4> Apple MacBook</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 250000.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img75.jpg" height="350px">
                <h4>Apple MacBook Air</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 112500.00</p>
            </div>
        </div>
          <div class="row">
              <div class="col-4">
                  <img src="./assets/images/images/product-1.jpg">
                  <h4>Red Printed T-Shirt</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>Rs 250.00</p>
              </div>
              <div class="col-4">
                  <img src="./assets/images/images/product-2.jpg">
                  <h4>Black Sport Shoes</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>Rs 500.00</p>
              </div>
              <div class="col-4">
                  <img src="./assets/images/images/product-3.jpg">
                  <h4>Black Track Pant</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>Rs 250.00</p>
              </div>
              <div class="col-4">
                  <img src="./assets/images/images/product-4.jpg">
                  <h4>Blue Plain T-Shirt</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>Rs 250.00</p>
              </div>
          </div>
          <div class="row">
              <div class="col-4">
                  <img src="./assets/images/images/img94.jpg" height="350px">
                  <h4>Iphone 6S</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>Rs 50000.00</p>
              </div>
              <div class="col-4">
                  <img src="./assets/images/images/img95.jpg" height="350px">
                  <h4>Oppo A20 Pro</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>Rs 30000.00</p>
              </div>
              <div class="col-4">
                  <img src="./assets/images/images/img96.jpg" height="350px">
                  <h4>Redmi Note 10</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>Rs 150.00</p>
              </div>
              <div class="col-4">
                  <img src="./assets/images/images/img97.jpg">
                  <h4>Vivo V11 Pro</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>Rs 750.00</p>
              </div>
          </div>
          <div class="row">
            <div class="col-4">
                <img src="./assets/images/images/img56.jpg" height="350px">
                <h4>Cashews</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 500.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img57.png" height="350px">
                <h4>Walnuts</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 300.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img58.jpg" height="350px">
                <h4>Almonds</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 150.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img59.jpg" height="350px">
                <h4>Blue Berry</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 750.00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="./assets/images/images/img60.jpg" height="350px">
                <h4>Corn</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 250.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img61.jpg" height="350px">
                <h4>Pasta</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 500.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img62.jpg" height="350px">
                <h4>Toor Dal</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 250.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img63.jpg" height="350px">
                <h4>Urad Dal</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 250.00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="./assets/images/images/img68.jpg" height="350px">
                <h4>Potatos</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 250.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img69.jpg" height="350px">
                <h4>Onion</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 500.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img70.jpg" height="350px">
                <h4>Tomato</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 2500.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img71.jpg" height="350px">
                <h4>Spinach</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 250.00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="./assets/images/images/img30.jpg" height="350px">
                <h4>Earpods</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 25000.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img33.jpg" height="350px">
                <h4>Earpods white</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 500.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img34.jpg"  height="350px">
                <h4>Earpods black</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 250.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img36.jpg" height="350px">
                <h4>Earpods Blue</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 250.00</p>
            </div>
        </div>

          
          <div class="page-btn">
              <span>1</span>
              <span>2</span>
              <span>3</span>
              <span>4</span>
              <span>&#8594;</span>
          </div>
          

        </div>
        <button type="button" class="btn btn-primary launch" data-toggle="modal" data-target="#staticBackdrop"> <i class="fa fa-rocket"></i> Get Premium
        </button>
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="text-right"> <i class="fa fa-close close" data-dismiss="modal"></i> </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-center mt-2"> <img src="./assets/images/images/img80.jpg" width="200"> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-white mt-5">
                                    <h1 class="mb-0">Premium</h1> <span class="intro-1">Take your writing to next level</span>
                                    <div class="mt-4"> <span class="intro-2">Gain access to analytic tools, desktop apps, templates, read-through, features, and autp-translate all for the price of a pro subscription</span> </div>
                                    <div class="mt-4 mb-5"> <button class="btn btn-primary">25% off premium <i class="fa fa-long-arrow-right"></i></button> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
        
    <!-------------footer---------->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="./assets/images/images/play-store.png">
                        <img src="./assets/images/images/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="./assets/img1.jpg">
                    <p>Our Purpose Is To Sustainably Make The Pleasure and Benefits of Sports Accessible to the Many.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook <i class="fab fa-facebook-square" style="color: blue;"></i></li>
                        <li>Twitter <i class="fab fa-twitter" style="color: blue;"></i></li>
                        <li>Instagram <i class="fab fa-instagram-square" style="color: pink;"></i></li>
                        <li>Youtube <i class="fab fa-youtube" style="color: red;"></i></li>

                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 - Vishal Website</p>
        </div>
    

