<div class="container">
<div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/images/images/img98.png" alt="Laptops" width="1200" height="500">
            <div class="carousel-caption">
              <h3>E-Shop</h3>
              <p>We had  all the latest design !</p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src="./assets/images/images/img99.jpg" alt="Laptops" width="1200" height="500">
            <div class="carousel-caption">
              <h3>Laptops</h3>
              <p>Latest collection of Laptops!</p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src="./assets/images/img4.png" alt="Grocery" width="1200" height="500">
            <div class="carousel-caption">
              <h3>Grocery</h3>
              <p>We have all grocery items!</p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src="./assets/images/images/img101.jpg" alt="Mobile" width="1200" height="500">
            <div class="carousel-caption">
              <h3>Mobiles</h3>
              <p>We have all type of Mobile items!</p>
            </div>   
          </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-5"> <button class="btn btn-dark">CATEGORIES</button> </div>
      <div class="d-flex justify-content-center mt-3"> <span class="text text-center">Finding Best Products Now<br> in Your Fingertips</span> </div>
      <div class="row mt-2 g-4">
          <div class="col-md-3">
              <div class="card p-1">
                  <div class="d-flex justify-content-between align-items-center p-2">
                      <div class="flex-column lh-1 imagename"> <span>Mobile</span> <span>Phones</span> </div>
                      <div> <img src="./assets/images/images/img87.jpg" height="100" width="100" /> </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card p-2">
                  <div class="d-flex justify-content-between align-items-center p-2">
                      <div class="flex-column lh-1 imagename"> <span>Head</span> <span>Phones</span> </div>
                      <div> <img src="./assets/images/images/img81.jpg" height="100" width="100" /> </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card p-2">
                  <div class="d-flex justify-content-between align-items-center p-2">
                      <div class="flex-column lh-1 imagename"> <span>Smart</span> <span>Watches</span> </div>
                      <div> <img src=" ./assets/images/images/img86.jpg" height="100" width="100" /> </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card p-2">
                  <div class="d-flex justify-content-between align-items-center p-2">
                      <div class="flex-column lh-1 imagename"> <span>Air</span> <span>Purifiers</span> </div>
                      <div> <img src="./assets/images/images/img90.jpg" height="100" width="100" /> </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card p-2tr5">
                  <div class="d-flex justify-content-between align-items-center p-2">
                      <div class="flex-column lh-1 imagename"> <span>Vacuum</span> <span>Cleaners</span> </div>
                      <div> <img src="./assets/images/images/img91.jpg" height="100" width="100" /> </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card p-2">
                  <div class="d-flex justify-content-between align-items-center p-2">
                      <div class="flex-column lh-1 imagename"> <span>Washing</span> <span>Machines</span> </div>
                      <div> <img src="./assets/images/images/img92.jpg" height="100" width="100" /> </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card p-2">
                  <div class="d-flex justify-content-between align-items-center p-2">
                      <div class="flex-column lh-1 imagename"> <span>Smart</span> <span>Televisions</span> </div>
                      <div> <img src=" ./assets/images/images/img93.jpeg" height="100" width="100" /> </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card p-2">
                  <div class="d-flex justify-content-between align-items-center p-2">
                      <div class="flex-column lh-1 imagename"> <span>Laptops</span> </div>
                      <div> <img src="./assets/images/images/img89.jpeg" height="100" width="100" /> </div>
                  </div>
              </div>
          </div>
      </div>
          <!-------- featured categories -------->
     <div class="categories">
        <div class="small-container">
         <div class="row">
             <div class="col-3">
                 <img src="./assets/images/images/category-1.jpg">
             </div>
             <div class="col-3">
                 <img src="./assets/images/images/category-2.jpg">
             </div>
             <div class="col-3">
                 <img src="./assets/images/images/category-3.jpg">
             </div>
         </div>
   
        </div>
    </div>
     
     <!-------- featured Products -------->
      <div class="small-container">
          <h2 class="title">Featured Products</h2>
          <div class="row">
              <div class="col-4">
                  <img src="./assets/images/images/img89.jpeg" height="350px">
                  <h4>Hp Laptop</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>Rs 25000.00</p>
              </div>
              <div class="col-4">
                  <img src="./assets/images/images/img73.jpg" height="350px">
                  <h4>Dell Laptop</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i> 
                  </div>
                  <p>Rs 50000.00</p>
              </div>
              <div class="col-4">
                  <img src="./assets/images/images/img74.jpg" height="350px">
                  <h4> Apple MacBook</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>Rs 250000.00</p>
              </div>
              <div class="col-4">
                  <img src="./assets/images/images/img75.jpg" height="350px">
                  <h4>Apple MacBook Air</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>Rs 112500.00</p>
              </div>
          </div>
          <h2 class="title">Latest Products</h2>
          <div class="row">
              <div class="col-4">
                  <img src="./assets/images/images/img76.jpg" height="350px">
                  <h4>School Bag</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>Rs 500.00</p>
              </div>
              <div class="col-4">
                  <img src="./assets/images/images/img77.jpeg" height="350px">
                  <h4>Travel Bag</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>Rs 800.00</p>
              </div>
              <div class="col-4">
                  <img src="./assets/images/images/img78.png" height="350px">
                  <h4>Gym Bag</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>Rs 150.00</p>
              </div>
              <div class="col-4">
                  <img src="./assets/images/images/img79.png" height="350px">
                  <h4>Circket Kit Bag</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>Rs 1750.00</p>
              </div>
          </div>
          <div class="row">
              <div class="col-4">
                  <img src="./assets/images/images/img94.jpg" height="350px">
                  <h4>IPhone 6s</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>Rs 40000.00</p>
              </div>
              <div class="col-4">
                  <img src="./assets/images/images/img95.jpg" height="350px">
                  <h4>Oppo A20</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>Rs 10000.00</p>
              </div>
              <div class="col-4">
                  <img src="./assets/images/images/img96.jpg" height="350px">
                  <h4>Redmi Note 8</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>Rs 15000.00</p>
              </div>
              <div class="col-4">
                  <img src="./assets/images/images/img97.jpg" height="350px">
                  <h4>Vivo V11 Pro</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <p>Rs 8500.00</p>
              </div>
          </div>
         </div>
     <!-------- featured Products -------->
     <div class="small-container">
        <h2 class="title">Grocerys</h2>
        <h2 class="title">Dry Fruits</h2>
        <div class="row">
            <div class="col-4">
                <img src="./assets/images/images/img56.jpg" height="350px">
                <h4>Cashews</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 250.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img57.png" height="350px">
                <h4>Walnuts</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 500.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img58.jpg" height="350px">
                <h4>Almonds</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 250.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img59.jpg" height="350px">
                <h4>Blue berry</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 250.00</p>
            </div>
        </div>
     </div>
        <!-------- featured Products -------->
     <div class="small-container">
        <h2 class="title">Pulses</h2>
        <div class="row">
            <div class="col-4">
                <img src="./assets/images/images/img60.jpg" height="350px">
                <h4>Corn</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 250.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img61.jpg" height="350px">
                <h4>Pasta</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 500.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img62.jpg" height="350px">
                <h4>Toor Dal</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 250.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img63.jpg" height="350px">
                <h4>Urad Dal</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 250.00</p>
            </div>
        </div>
     </div>
       
        <!-------- featured Products -------->
     <div class="small-container">
        <h2 class="title">Fresh Vegetables</h2>
        <div class="row">
            <div class="col-4">
                <img src="./assets/images/images/img68.jpg" height="350px">
                <h4>Potatos</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 250.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img69.jpg" height="350px">
                <h4>Onion</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 500.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img70.jpg" height="350px">
                <h4>Tomato</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 2500.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img71.jpg" height="350px">
                <h4>Spinach</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 250.00</p>
            </div>
        </div>
     </div>

        <!-------- featured Products -------->
     <div class="small-container">
        <h2 class="title">Rice</h2>
        <div class="row">
            <div class="col-4">
                <img src="./assets/images/images/img64.jpg" height="350px">
                <h4>Organic Rice</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 250.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img65.jpg" height="350px">
                <h4>India Gate Basmati Rice</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 500.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img66.jpg" height="350px">
                <h4>Basmati XL Rice</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 2500.00</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/images/img67.jpg" height="350px">
                <h4>Daawat Rice</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Rs 250.00</p>
            </div>
        </div>
     </div>   
    
    <!------------- Offer ----------->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="./assets/images/images/img80.jpg" class="offer-img">
                </div>
                <div class="col-2">
                    <p>Exclusively Available on E-shop</p>
                    <h1>Apple Macbook Pro</h1>
                    <small>The Apple Macbook Pro feature a 40.8% larger (than Apple Macbook Air) AMOLED color full-touch display with adjustment, so everthing is clear as can be.</small><br>
                    <a href="" class="btn">Buy Now &#8594;</a>
                </div>
            </div>
        </div>
    </div>
    <!------------testimonial------------->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                   <i class="fa fa-quote-left"></i>
                    <p>Lorem Ipsum it is the simple and dummy text of printing and type setting industry. Lorem Ipsum has been the industry standard dummy text ever</p>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                  </div>
                  <img src="./assets/images/images/user-1.png">
                  <h3>Ahana</h3>
                </div>
                <div class="col-3">
                   <i class="fa fa-quote-left"></i>
                    <p>Lorem Ipsum it is the simple and dummy text of printing and type setting industry. Lorem Ipsum has been the industry standard dummy text ever</p>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                  </div>
                  <img src="./assets/images/images/user-2.png">
                  <h3>Rahul</h3>
                </div>
                <div class="col-3">
                   <i class="fa fa-quote-left"></i>
                    <p>Lorem Ipsum it is the simple and dummy text of printing and type setting industry. Lorem Ipsum has been the industry standard dummy text ever</p>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                  </div>
                  <img src="./assets/images/images/user-3.png">
                  <h3></h3>
                  <h3>Darika</h3>
                </div>
                </div>
        </div>
    </div>
    <!--------------------brands------------------->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="./assets/images/images/logo-godrej.png">
                </div>
                <div class="col-5">
                    <img src="./assets/images/images/logo-oppo.png">
                </div>
                <div class="col-5">
                    <img src="./assets/images/images/logo-coca-cola.png">
                </div>
                <div class="col-5">
                    <img src="./assets/images/images/logo-paypal.png">
                </div>
                <div class="col-5">
                    <img src="./assets/images/images/logo-philips.png">
                </div>
            </div>
        </div>
    </div>
</div>
    
    <!-------------footer---------->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="./assets/images/images/play-store.png">
                        <img src="./assets/images/images/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="./assets/img1.jpg">
                    <p>Our Purpose Is To Sustainably Make The Pleasure and Benefits of Sports Accessible to the Many.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook <i class="fab fa-facebook-square" style="color: blue;"></i></li>
                        <li>Twitter <i class="fab fa-twitter" style="color: blue;"></i></li>
                        <li>Instagram <i class="fab fa-instagram-square" style="color: pink;"></i></li>
                        <li>Youtube <i class="fab fa-youtube" style="color: red;"></i></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 - Vishal Website</p>
        </div>
    </div>
